@font-face {
  font-family: 'Sansation';
  src: url('Sansation_Bold_Italic.ttf');
  src: local('Sansation Bold Italic'), local('Sansation_Bold_Italic'),
    url('Sansation_Bold_Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('Sansation_Bold.ttf');
  src: local('Sansation Bold Italic'), local('Sansation_Bold'),
    url('Sansation_Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('Sansation_Italic.ttf');
  src: local('Sansation Italic'), local('Sansation_Italic'),
    url('Sansation_Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('Sansation_Light_Italic.ttf');
  src: local('Sansation Light Italic'), local('Sansation_Light_Italic'),
    url('Sansation_Light_Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('Sansation_Light.ttf');
  src: local('Sansation Light Italic'), local('Sansation_Light'),
    url('Sansation_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('Sansation_Regular.ttf');
  src: local('Sansation Regular Italic'), local('Sansation_Regular'),
    url('Sansation_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Sansation' !important;
}
